{% assign books_data = site.data.books.root.book %}
{% assign cart_items = site.books | sample: 3 %}
{% assign total = 0 %}
{% assign quantity = 0 %}
<div class="cart-dropdown">
    {% for book in cart_items %}
    {% assign book_index = book.index | minus: 1 %}
    {% assign sub_total = books_data[book_index].price | times: forloop.index %}
    {% assign total = total | plus: sub_total %}
    {% assign quantity = quantity | plus: forloop.index %}
    <div class="cart-dropdown-item">
        <div class="item-image">
            <a href="{{ site.baseurl }}{{ book.url }}">
                <img src="{{ books_data[book_index].image }}" alt="{{ book.title }}">
            </a>
        </div>
        <div class="item-info">
            <h5><a href="{{ site.baseurl }}{{ book.url }}">{{ books_data[book_index].title }}</a></h5>
            <p>
                <span>{{ forloop.index }}</span> x <span>{{ books_data[book_index].price }}</span>
            </p>
            <span>{{ sub_total | round: 2 }}</span>
        </div>
        <div class="item-action">
            <a href="#"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
    {% endfor %}
    <div class="cart-dropdown-total">
        <div class="total-quantity">
            <span>Qty:</span>
            <span>{{ quantity }}</span>
        </div>
        <div class="total-amount">
            <span>Total:</span>
            <span>{{ total | round: 2 }}</span>
        </div>
    </div>
    <div class="cart-dropdown-buttons">
        <a href="{{ site.baseurl }}order" class="checkout-btn"><i class="fa fa-credit-card"></i>Checkout</a>
        <a href="{{ site.baseurl }}cart" class="add-to-cart"><i class="fa fa-shopping-cart"></i>Cart</a>
    </div>
</div>