@keyframes post-thumb-hover {
    0% {
        width: 101%;
    }
    25% {
        width: 102%;
    }
    50% {
        width: 103%;
    }
    75% {
        width: 104%;
    }
    100% {
        width: 105%;
    }
}