.blog {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    margin: 0 -1em;
    .post-thumb {
        flex: $blog-items;
        margin: 1em;
        overflow: hidden;
        position: relative;
        border-radius: 0.2em;
        box-shadow: 0 0 0.3em $post-thumb-shadow-color;
        background-color: $post-thumb-bg-color;
        .image {
            position: relative;
            overflow: hidden;
        }
        .image:after {
            display: block;
            content: '';
            padding-top: $post-image-ratio;
        }
        .image img {
            display: block;
            width: 101%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .title {
            h3 {
                padding: 0.5em;
                color: $post-thumb-title-color;
                font-size: 1em;
                font-weight: 600;
            }
        }
        a {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            color: #fff;
            font-size: 0.8em;
            i {
                padding: 0.3em;
                color: $post-thumb-title-color;
            }
        }
        &:hover .image img {
            animation: post-thumb-image 0.3s both;
        }
        &:hover .title h3, &:hover a i {
            animation: post-thumb-title 0.3s both;
        }
        &:hover {
            animation: post-thumb-shadow 0.3s both;
        }
    }
    @include dummy($blog-items);
}

.blog-post {
    position: relative;
    flex-grow: 1;
    @include single-card($post-thumb-shadow-color);
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        h3 {
            padding: 0.5em;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            text-align: center;
            z-index: 1;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: auto;
        }
        time {
            color: #fff;
            z-index: 1;
            background: rgba(0,0,0,0.5);
            padding: 0.5em;
            font-size: 0.8em;
        }
        &:before, &:after {
            display: block;
            content: '';
        }
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;       
            background-color: rgba(0,0,0,0.5);
            z-index: 1;
        }
        &:after {
            padding-bottom: calc( (3 / 9) * 100% );
        }
    }
    section {
        padding: 1em;
    }
}