.cart {
    &-items {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 100%;
        margin: 1em 0;
        padding: 0.5em;
        @include single-card($post-thumb-shadow-color);
        &-image {
            position: relative;
            overflow: hidden;
            a {
                display: block;
            }
        }
        &-image {
            position: relative;
            overflow: hidden;
            padding: 0.5em;
            a {
                display: block;
            }
        }
        &-image img {
            display: block;
            width: 5em;
            flex-grow: 0;
            height: auto;
            box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.5);
        }
        &-data {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-grow: 1;
            > * {
                padding: 0.5em;
            }
        }
        &-title {
            flex-grow: 1;
            font-size: 0.75em;
            h4 {
                padding-bottom: 0;
            }
            a {
                color: #333;
                &:hover {
                    color: #000;
                    transition: 0.3s ease-in;
                }
            }
        }
        &-quantity {
            input {
                width: 4.5em;
                padding: 0.5em;
            }
        }
        &-subtotal {
            font-weight: 600;
        }
        &-remove {
            display: flex;
            align-items: center;
            padding: 0.5em;
            a {
                color: #333;
                &:hover {
                    color: #000;
                    transition: 0.3s ease-in;
                }
            }
            i {
                font-size: 1.5em;
            }
        }
    }
    &-total {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        margin: 1em 0;
        span {
            padding: 0.5em 0;
            font-weight: bold;
        }
    }
    &-buttons {
        a {
            display: inline-block;
            margin: 1em 0;
            padding: 0.8em 1.2em;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 600;
            border-radius: 0.3em;
            i {
                margin-right: 0.5em;
            }
        }
        a.checkout-btn {
            color: $header-bg;
            background-color: #333;
            &:hover {
                color: #333;
                background-color: $header-bg;
                box-shadow: 0 0 0.3em rgba(#333,0.7);
                transition: 0.3s ease-in;
            }
        }
    }
}

.cart-dropdown {
    padding: 1em;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    color: #333;
    box-shadow: inset 0 0 0.25em $post-thumb-shadow-color;
    z-index: 9;
    &-item {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 1em;
        .item-image {
            img  {
                display: block;
                width: 4.5em;
                height: auto;
                box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.5);
            }
        }
        .item-info {
            padding: 0 0.8em;
            h5 {
                padding-bottom: 0;
                font-size: 1em;
            }
            p {
                padding: 0.5em 0;
            }
            > span {
                font-weight: 600;
            }
        }
        .item-action {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            i {
                font-size: 1.3em;
            }
        }
        .item-info a, .item-action a, .item-action i {
            color: inherit;
            &:hover {
                color: #000;
                transition: 0.3s ease-in;
            }
        }
    }
    &-total {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        margin-bottom: 0.5em;
        span {
            padding: 0.5em 0;
            font-weight: bold;
        }
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0 -0.5em;
        a {
            flex-grow: 1;
            display: block;
            margin: 0.5em;
            padding: 0.8em 0.5em;
            text-align: center;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 600;
            border-radius: 0.3em;
            i {
                margin-right: 0.5em;
            }
        }
        a.checkout-btn {
            color: $header-bg;
            background-color: #333;
            &:hover {
                color: #333;
                background-color: $header-bg;
                box-shadow: 0 0 0.3em rgba(#333,0.7);
                transition: 0.3s ease-in;
            }
        }
        a.add-to-cart {
            color: #333;
            background-color: $header-bg;
            &:hover {
                color: $header-bg;
                background-color: #333;
                box-shadow: 0 0 0.3em rgba($header-bg,0.7);
                transition: 0.3s ease-in;
            }
        }
    }
}