form.form {
    > * {
        display: block;
        margin: 1em 0;
    }
    input:not([type="checkbox"]):not([type="radio"]), textarea {
        width: 100%;
        padding: 0.5em;
    }
    p {
        padding: 0;
    }
    textarea {
        resize: none;
    }
    button {
        padding: 0.5em 1em;
        background-color: #333;
        color: $header-bg;
        border: none;
        outline: none;
        border-radius: 0.3em;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: #000;
            box-shadow: 0 0 0.3em $post-thumb-shadow-color;
            transition: 0.3s ease-in;
        }
        i {
            margin-right: 1em;
        }
    }
    p.help-block-error {
        color: red;
    }
}