.inner-wrapper {
    display: flex;
    width: $layout-width;
}

.site {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.header, .content, .footer {
    display: flex;
    justify-content: center;
}

.header {
    background-color: $header-bg;
    font-size: 0.8em;
    .inner-wrapper {
        justify-content: space-between;
        align-items: center;
    }
    .brand {
        display: flex;
        z-index: 10;
        .logo {
            display: block;
            background: #333;
            margin-bottom: -0.5em;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            position: relative;
        }
        .logo img {
            width: 10em;
            padding: 0.5em;
        }
        .logo a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        h1.title {
            color: #333;
            margin-left: 0.5em;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            font-size: 1.2em;
        }
    }
    .nav ul {
        display: flex;
        padding-bottom: 0;
    }
    .nav li {
        display: block;
        margin: 0 0.3em;
    }
    .nav a, .toggle-menu-button {
        display: block;
        color: #333;
        padding: 0.8em 0.5em;
        font-weight: 600;
        &:hover {
            color: #000;
            transition: 0.3s ease-in;
        }
    }
    .nav .toggle-menu-button {
        display: none;
    }
    .nav .toggle-menu-checkbox {
        display: none;
    }
}

.content {
    flex-grow: 1;
    padding: 1em;
    .inner-wrapper {
        flex-direction: column;
    }
}

.footer {
    background-color: #333;
    .bottom p {
        padding: 1em 0;
        color: #fff;
    }
}