.inner-wrapper {
    display: flex;
    width: $layout-width;
}

.site {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    background-color: $bg-color;
}

.header, .content, .footer {
    display: flex;
    justify-content: center;
}

.header {
    flex-wrap: wrap;
    background-color: $header-bg;
    width: 100%;
    font-size: 0.8em;
    .page-header {
        width: 100%;
        background-color: $bg-color;
        position: relative;
        .image {
            position: relative;
            overflow: hidden;
            img {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: auto;
            }
            &:before {
                display: block;
                content: '';
                background-color: rgba(0,0,0,0.5);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
            &:after {
                display: block;
                content: '';
                padding-top: $header-image-ratio;
            } 
        }
        h1, h2, p {
            padding-bottom: 0;
        }
        .text-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            .text {
                margin: 0 auto;
                height: inherit;
                width: $layout-width;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1, h2, p {
                    color: #fff;
                }
            }
        }
        .title-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2em;
            .title {
                width: $layout-width;
            }
        }
    }
    .inner-wrapper {
        justify-content: space-between;
        align-items: stretch;
    }
    .brand {
        display: flex;
        z-index: 100;
        .logo {
            display: block;
            background: #333;
            margin-bottom: -0.5em;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            position: relative;
        }
        .logo img {
            width: 10em;
            padding: 0.5em;
        }
        .logo a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        h1.title {
            color: #333;
            margin-left: 0.5em;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            font-size: 1.2em;
        }
    }
    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        position: relative;
    }
    .nav ul {
        display: flex;
        padding-bottom: 0;
    }
    .nav li {
        display: block;
        margin: 0 0.3em;
    }
    .nav a, .toggle-menu-button {
        display: block;
        color: #333;
        padding: 0.8em 0.5em;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            color: #000;
            transition: 0.3s ease-in;
        }
    }
    .nav .toggle-menu-button {
        display: none;
    }
    .nav .toggle-menu-checkbox {
        display: none;
    }
}

.content {
    flex-grow: 1;
    padding: 1em;
    .inner-wrapper {
        flex-direction: column;
    }
    .single-view {
        margin: 1em 0;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    .inner-wrapper {
        flex-wrap: wrap;
    }
    .top, .bottom {
        flex: 1 0 100%;
        padding: 1em 0;
    }
    .top {
        display: flex;
        flex-wrap: wrap;
        &-item {
            flex: 1 0 10em;
            h5 {
                color: $header-bg;
                text-transform: uppercase;
                font-size: 1em;
            }
            ul {
                display: inline-block;
                padding-bottom: 0;
            }
            li {
                margin: 0.2em 0;
            }
            a {
                display: block;
                padding: 0.1em;
                color: inherit;
                &:hover {
                    text-decoration: underline;
                }
            }
            i {
                margin-right: 0.3em;
            }
        }
    }
    .bottom p {
        padding: 0;
    }
}