.login-dropdown {
    padding: 1em;
    position: absolute;
    top: 100%;
    right: 0;
    background: $header-bg;
    color: #333;
    z-index: 8;
}

.site-login {
    display: flex;
    flex-wrap: wrap;
    .login-form, .login-text {
        flex: 1 0 50%;
    }
}