@media screen and (max-width: 1000px)  {
    .inner-wrapper {
        width: $layout-width-max-1000;
    }
    .header, .footer {
        padding: 0 1em;
    }
}

@media screen and (max-width: 648px) {
    .header {
        position: relative;
        .brand h1.title {
            font-size: 1.1em;
        }
        .nav {
            .toggle-menu-button {
                display: block;
            }
            ul {
                display: none;
                padding: 0.5em;
                position: absolute;
                top: 100%;
                left: 50%;
                width: 100%;
                font-size: 1.2em;
                background: $header-bg;
                li a {
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                }
            }
        }
    }
}