@media screen and (max-width: 976px)  {
    .inner-wrapper, .header .page-header .text-wrapper .text, .header .page-header .title-wrapper .title  {
        width: $layout-full-width;
    }
    .header .inner-wrapper, .header .page-header .text-wrapper .text, .footer, .header .page-header .title-wrapper .title {
        padding: 0 1em;
    }
    .single-author  {
        .image {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 648px) {
    .header {
        position: relative;
        .nav {
            .toggle-menu-button {
                display: block;
            }
            ul {
                display: none;
                padding: 0.5em;
                position: absolute;
                top: 100%;
                right: 0;
                background: $header-bg;
                z-index: 10;
                li a {
                    font-size: 1.2em;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                }
            }
        }
        .nav > .toggle-menu-checkbox:checked + ul {
            display: flex;
            flex-direction: column;
        }
    }
    .single-book {
        > section:nth-child(1) {
            flex-basis: 100%;
            padding: 0;
        }
        > section:nth-child(2) {
            padding: 1em;
        }
    }
    .blog-post {
        header {
            h3 {
                font-size: 1em;
            }
            time {
                font-size: 0.55em;
            }
        }
    }
}