html {
    font: 16px/1.5 $font-family-html;
}

body, form, table, button, input, textarea, select, option {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
    padding-bottom: 0.5em;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    padding-top: 0.5em;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

blockquote {
    padding: 0 1.5em;
    border-left: 2px solid #999;
    margin-bottom: 1.5em;
}

blockquote p {
    font-style: italic;
}

blockquote p:last-child {
    padding-bottom: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}