$font-family-html: 'Roboto', sans-serif;
$font-family-headings: 'Roboto Slab', serif;

$layout-width: 80vw;
$layout-full-width: 100%;

$bg-color: #f9f9f9;
$header-image-ratio: 20%;

$blog-items: 1 0 17em;
$post-image-ratio: calc( (9 / 16) * 100% );
$post-thumb-bg-color: #fff;
$post-thumb-title-color: #333;
$post-thumb-shadow-color: rgba(0,0,0,0.5);

$author-items: 1 0 17em;
$author-image-ratio: calc( (9 / 16) * 100% );

$book-items: 1 0 15em;
$book-image-ratio: 100%;

$header-bg: #fbda00;