<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avliga Theme</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="site">
        <header class="header">
            <h1>{{ site.title }}</h1>
        </header>
        <main class="content">
            {{ content }}
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>