<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="site">
        <header class="header">
            <div class="inner-wrapper">
                {% include header.html %}
            </div>
            <div class="page-header">
                {% if page.image %}
                <div class="image">
                    <img src="{{ site.data.images[page.image] }}" alt="image">
                </div>
                <div class="text-wrapper">
                    <div class="text">
                        {% if page.title == 'Home' %}
                        <h1>{{ site.title }}</h1>
                        {% else %}
                        <h2>{{ page.title }}</h2>
                        {% endif %}
                        {% if page.description %}
                        <p>{{ page.description }}</p> 
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="title-wrapper">
                    <div class="title">
                        <h2>{{ page.title }}</h2>
                    </div>
                </div>
                {% endif %}
            </div>
        </header>
        <main class="content">
            <div class="inner-wrapper">
                {{ content }}
            </div>
        </main>
        <footer class="footer">
            <div class="inner-wrapper">
                {% include footer.html %}
            </div>
        </footer>
    </div>
</body>
</html>