<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="site">
        <header class="header">
            <div class="inner-wrapper">
                {% include header.html %}
            </div>
        </header>
        <main class="content">
            <div class="inner-wrapper">
                {% assign page_index = page.index | minus: 1 %}
                {% assign post = site.data.posts.rss.channel.item[page_index] %}
                <article class="blog-post single-view">
                    <header>
                        <h3>{{ post.title }}</h3>
                        <img src="{{ post.enclosure._url }}" alt="{{ post.title }}">
                        <time datetime="{{ post.created.__text }}">{{ post.created.__text | date: '%d %b, %Y' }}</time>
                    </header>
                    <section>
                        {{ content }}
                    </section>
                </article>
            </div>
        </main>
        <footer class="footer">
            <div class="inner-wrapper">
                {% include footer.html %}
            </div>
        </footer>
    </div>
</body>
</html>